<app-header></app-header>
<div class="loader tailleLoader" >
  <span class="Lettre">C</span>
  <span class="Lettre" >L</span>
  <span class="Lettre" >I</span>
  <span class="Lettre" >C</span>
  <span class="Lettre" >K</span>
  <span class="Lettre" >&</span>
  <span class="Lettre" >L</span>
  <span class="Lettre" >O</span>
  <span class="Lettre" >V</span>
  <span class="Lettre" >E</span>
</div>
<div class="overlay"></div>
<img class="background" src="assets/img/coeur-pourvoyeur-chaleur.jpg">
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
