<div class="loader tailleLoader" >
  <span class="lettre">C</span>
  <span class="lettre" >L</span>
  <span class="lettre" >I</span>
  <span class="lettre" >C</span>
  <span class="lettre" >K</span>
  <span class="lettre" >&</span>
  <span class="lettre" >L</span>
  <span class="lettre" >O</span>
  <span class="lettre" >V</span>
  <span class="lettre" >E</span>
</div>

<app-header></app-header>

<div class="overlay"></div>

<img [className]="backgroundVisible" src="{{tabImage[0]}}">
<img [className]="backgroundInvisible" src="{{tabImage[1]}}">

<div class="container">
  <router-outlet></router-outlet>
</div>
<!--<app-footer></app-footer>-->
