/* You can add global styles to this file, and also import other style files */

.etapeVisible{
  display: block;
}

.etapeInvisible{
  display: none;
}

.formInscription{
  /*margin-top: 20px;*/
  z-index: 7;
}

.overlay {
    background-color: #030918;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.65;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}

.background {
  z-index: -2;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

}
